<div class="container" *ngIf="feed != null">
  <div class="row game-card" *ngFor="let event of feed.sport_events">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <a class="card" style="text-align: center">
        <h5 class="card-header">{{event.venue.name}}</h5>
        <div class="card-body" >
          <div class="row">
            <a id="{{event.competitors[0].id}}" class="col-md-5 team-card card card-body" (click)="onTeamCardClick(event.competitors[0], $event)">
              <img src="https://openclipart.org/download/288976/nicubunu-Soccer-ball-remix-monsterbraingames.svg" />
              <h1>{{event.competitors[0].name}}</h1>
            </a>
            <div class="col-md-2 ">
              <h2>Vs.</h2>
            </div>
            <a id ="{{event.competitors[0].id}}" class="col-md-5 team-card card card-body" (click)="onTeamCardClick(event.competitors[1])">
              <img src="https://openclipart.org/download/288976/nicubunu-Soccer-ball-remix-monsterbraingames.svg" />
              <h1>{{event.competitors[1].name}}</h1>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{event.scheduled}}
        </div>
      </a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>



<ul *ngIf="feed != null">
  <li *ngFor="let el of feed.sport_events">
    {{el.id}}
  </li>
  <ul>
